body {
	background-color: #07060f;
	color: #f1f1e9;
}
header .mspfalogo {
	background-color: #212431;
	border-color: #07060f;
}
#main {
	background-color: #171826;
}
#slide {
	background-color: #212431;
}
#info > span > .spoiler.open {
	background-color: #171826;
}
footer .mspfalogo {
	background-color: #07060f;
	border-color: #07060f;
}
nav {
	background-color: #07060f;
}
a {
	color: #543dff;
}
a:active {
	color: #75c3ff;
}
a:visited {
	color: #ee4fe0;
}
nav a {
	color: #7866ff !important;
}
body:hover {
    cursor: url(https://file.garden/ZFsHQyhvAk-Bo1r7/TRIALNEV1/TEST1.png), auto;
}
